.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@font-face {
  font-family: 'SumberJaya';
  font-style: normal;
  font-weight: 400;
  src:
    local('SumberJaya'),
    url(../fonts/SumberJaya.otf) format('opentype');
}

html {
  font-family: 'Roboto', sans-serif;
}
